@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
  background-color: black;
}
.yuva_img {
  transition: width 2s heigth 2s;
}
.yuva_img:hover {
  width: 100px;
  height: 100px;
}

nav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
  display: block;
  padding: 14px 16px;
}

.container {
  height: 100%;
  float: right;
  align-content: center;
}

.card {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h1 {
  color: rgb(224, 43, 112);
}

.card-header h3 {
  color: goldenrod;
}

.input-group-prepend span {
  width: 50px;
  height: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}
.sign-up-link {
  background-color: skyblue;
  color: black;
  width: 100px;
  border: 0 !important;
  border-radius: 5px;
}

.sign-up-link:hover {
  color: black;
  background-color: white;
}

.login_btn {
  background-color: #ffc312;
  color: black;
  width: 100px;
  border: 0 !important;
  border-radius: 5px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
